<md-grid-list md-cols-sm="1" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px" >


    <md-grid-tile class="blue" md-rowspan="2" md-colspan="3" md-colspan-sm="1">

        <div class="tc" layout="column">

            <div>The homepage of Richard King.</div>
            <div>I am a full-stack, full-lifecycle developer with over 20 years' experience developing and maintaining high quality software.</div>
            <div>I specialise in building performant and scalable web applications mostly using Java but have lots of experience in C/Objective-C, Javascript and all sorts of things all the way back to Sinclair Basic on a ZX-81.</div>
            <div>I speak English and French fluently and am currently located in Luxembourg.</div>
            <div>I also spent a few years lecturing to masters students on subjects such as Agile Methodologies, Applied Software Architecture and Java Persistence Frameworks.</div>
            <div>Please have a look around ... </div>

        </div>


        <md-grid-tile-footer>
            <h3>Wired Up And Fired Up</h3>
        </md-grid-tile-footer>

    </md-grid-tile>

    <md-grid-tile class="yellow pointer" ng-click="go('/portfolio')">
        <div>
            <img src="img/portfolio.png">
        </div>
        <md-grid-tile-footer>
            <h3>Portfolio</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="purple pointer" md-rowspan="2" ng-click="go('/labs')">
        <div>
            <img src="img/labs.png">
        </div>
        <md-grid-tile-footer>
            <h3>Labs</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red pointer" ng-click="go('/cv')">
        <div>
            <img src="img/cv.png">
        </div>  <div class="md-ripple-container"></div>
        <md-grid-tile-footer>
            <h3>CV</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green pointer" ng-click="go('/links')">
        <div>
            <img src="img/links.png">
        </div>
        <md-grid-tile-footer>
            <h3>Links</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="gray pointer" ng-click="go('/contact')">
        <div>
            <img src="img/contact.png">
        </div>
        <md-grid-tile-footer>
            <h3>Contact</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

</md-grid-list>